.ComicGallery-sect{
    display: flex;
    flex-direction: column;
    // align-items: baseline;
    // background-color: var(--colorgrey);
    margin: 10px 50px;
    margin-bottom: 50px;

    .series-sec{
        margin-top: 30px;

        
    .seriesTitle{
        display: flex;
        align-items: baseline;
        height: 50px;
        background-color: white;
        border-bottom: 2px solid var(--colorgrey);

        .comicName{
            font-size: 30px;
            font-weight: bold;
            margin-right: 10px;
            border-right: 1px solid black;
            padding-right:10px;
            color: var(--colordarkblue)
        }

        .comicCreator{
            color: var(--colorblue);
            font-size: 20px;
            // font-weight: bold;
        }
    }

    .comicgallery{
        margin-top: 15px;
        
    }
}
}
