.galleryItem{
    display: flex;
        flex-direction: column;
    justify-items: center;
        align-items: center;

    position: relative;
    // width: 200px;
    // height: 230px;
    border: 2px solid var(--colorgrey);
    background-color: #e2e2e228;
    padding: 10px 50px;

    .feavorIcon{
        position: absolute;
        left: 20px;
        top: 10px;
        color: red;
        cursor: pointer;
            
        span:hover{
            
            font-size: 22px;
            transition: 1s all ease;
            color: blue;
        }
    
    }

    .comicinfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        

        .comicImg{
            width: 181px;
            height: 268px;
            background-color:black;
            margin-top: 20px;

            box-shadow: 0px 11px 17px -4px rgba(0,0,0,0.44);
-webkit-box-shadow: 0px 11px 17px -4px rgba(0,0,0,0.44);
-moz-box-shadow: 0px 11px 17px -4px rgba(0,0,0,0.44);

        }

        .comicTitle{
            margin-top: 10px;
            color: var(--colordarkblue);
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid black;
            padding: 0 20px;
            // width: 100%;

        }

        .episodenum{
            color: var(--colorblue);
            font-size: 14px;
        }

        .episodetile{
            color: var(--colorblue);
            font-size: 12px;
            font-weight: bold;
            font-style: italic;
            margin-top: 5px;
        }
    }
}

.galleryItem:hover{
    cursor: pointer;
    box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);
-webkit-box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);
-moz-box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.37);

transition: 1s all ease;
}