*{
    margin: 0;
    padding: 0;
    border: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:#7D9399;
}

/* #root {
    display: flex;
    justify-content: center;
} */