* {
    margin: 0;
    padding: 0;
    border: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

body {
    background-color: #7D9399;
    width: 100%;
}

/* #root {
    display: flex;
    justify-content: center;
} */