.container {
    position: relative;
    background-color: var(--colorgrey);
    overflow-x: hidden;
      
}

.slide{
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    background-color: rgba(128, 128, 128, 0.403);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    position:absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;

}

.slide:hover{
    box-shadow: 0px 0px 2px 2px rgba(28, 28, 28, 0.425), 0 2px 10px 0 rgba(28, 28, 628, 0.19);
    transition: all 0.7s ease;
    background-color: black;
    color: white;

}
.leftarrow{
        left: 20px;
        /* margin-left: 2px; */
        color: white;
        
        
    }
    .rightarrow{
        right: 20px;
        color: white;
        
    }

.wrapper{
    display: flex;
    /* justify-content: center; */
    width: max-content;
    margin-left: 100px;
    margin-right: 60px;
    align-items: center;
    padding-top: 20px;
    /* z-index: -1; */

    /* transform: translateX(255px); */
    transition: 1s all ease;
    

}