.container {
    background-color: white;

}

:root {
    --colorblue: #1A458D;
    --colordarkblue: #011C31;
    --colorgrey: #e2e2e2;
    --colornav: #FFFFFFC4;
}

body {
    overflow-x: hidden;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 95%;
    margin: 0 auto 50px auto;
}